.main {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  background-color: var(--muted);
  padding: 30px;
  min-height: calc(100vh - var(--header-height));

  @media (min-width: 767px) {
    padding: 40px;
  }
}

:global(.dark) .main {
  background-color: var(--background);
}
