.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;

  margin-bottom: 20px;

  @media (width >= 767px) {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0;
  }
}
