.header {
  box-shadow: 0 0 6px var(--sidebar-ring);
  background-color: var(--sidebar);
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  height: var(--header-height);

  @media (width >= 767px) {
    padding-inline: 40px;
  }
}
