.header {
  width: 100%;
  background-color: var(--sidebar);
  box-shadow: 0 0 6px var(--sidebar-ring);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding-inline: 30px;

  @media (width >= 767px) {
    padding-inline: 40px;
  }
}
