body {
  overflow-x: hidden;
  font-size: 16px;
}

/* removing redix-ui settings, we have scrollbar-gutter: stable for this case */
body[data-scroll-locked][data-scroll-locked] {
  margin-right: 0px !important;
}
